*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container {
    position: relative;
    background: #aad5f6;
}
.slide-1 {
    background: url('../img/1.jpeg');
}
.slide-2 {
    background: url('../img/2.jpeg');
}
.slide-3 {
    background: url('../img/3.jpeg');
}

.slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
    transform: background 500ms;
}
.arrow img {
    width: 50px;
}
.l {
    left: 0;
}
.r {
    right: 0;
}
          /* HERO ANIMATED */

#hero{
    position: absolute;
    z-index: 10000;
    top: 40%;
    left: 20%;
    transform: translate(-50% , -50%);
}
#hero h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: black;
}
  #hero p {
    color: black;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    padding-top: 20px;
  }
  span{
    color: #fff;
    }
  #hero .social-links {
    margin-top: 30px;
  }
  #hero .social-links a {
    font-size: 24px;
    display: inline-block;
    color: black;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
  }
  #hero .social-links a:hover {
    color: #e54416;
  }




      /* NAVBAR */

header{
    position: absolute;
    z-index: 1000000;
}
ul{
    list-style-type: none;
    padding: 0%;
}

.containers {
    margin: 0 auto;
    width: 100%;
}
.containers{
    position: relative;
    margin: 0 auto;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    padding: 2em;
    transition: 0.5s;
    color: #fff;
}
.brand{
    font-size: 1.8em;
    margin-left: 46%;
}


nav a{
    text-decoration: none;
    font-size: 1em;
    transition: 0.5s;
    font-weight: 600;
    color: black;
}
nav a:hover{
    color: #e54416;
}

.containers .fa-bars{
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.5s;
    color: black;
    margin-left: 750px;
}

.containers .fa-bars:hover{
    color: #e54416;
}
.menu{
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    height: 0;
    opacity: 0;
    transition: 0.7s cubic-bezier(.74,-0.03,.83,.67);
    overflow-y: hidden;
}

.menu ul , .menu form{
    margin: 1em auto;
}

.menu li{
    margin: 1em 0;
}
.menu > div{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 6em 1em 3em 1em;
    height: 100%;
    overflow-y: scroll;
}

.menu > div::-webkit-scrollbar{
    display: none;
}

.menu .social-media{
    margin: 2em 0;
}

.social-media li{
    display: inline-block;
    margin: 0 0.5em;
}

.menu-open{
    height: 100vh;
    opacity: 1;
}
.navbar-active{
    background-color: #fff;
    padding: 1em;
}
@media screen and (max-width: 800px){
    nav .container-inner{
        display: none;
    }  
	.containers .fa-bars{
		font-size: 1.2em;
		cursor: pointer;
		transition: 0.5s;
		color: black;
		margin-left: 120px;
	}
	
	.containers .fa-bars:hover{
		color: #e54416;
	}
	.brand{
		font-size: 1.8em;
		margin-left: 35%;
	}
}

@media screen and (min-width: 800px){
    .menu form{
        display: none;
    }
	
	
}

