*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: roboto, arial, sans-serif;
    text-decoration: none;
    min-height: 140vh;
    background: #f1f3f1;
    width: 100%;
}
.fa{
    margin: 0px 4px;
}
a,a:hover{
    text-decoration: none;
}
.heading,.nav_container,.logo, .search,
.login_drop, .more{
    display: flex;
}
#heading{
   background-color: #2874f0;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    z-index: 10;
}
.nav_container{
    align-items: center;
    max-width: 1248px;
    margin: auto;
    width: 100%;
    position: relative;
    left: 132px;
}
.logo{
    flex-direction: column;
    width: fit-content;
}
.plus{
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
    font-size: 11px;
    font-style: italic;
    margin-top: -5px;
}
.flip img{
    width: 75px;
}
.plus img{
    width: 10px;
    padding-left: 2px;
}
.plus span{
    color: #ffe500;
    margin: 0px 2px;
    font-weight: bold;
}
.search_container{
    min-width: 304px;
    width: 708px;
}
.search_bar{
    max-width: 564px;
    width: 100%;
    margin-left: 10px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 23%);
}
.search_box{
    outline: none;
    padding: 0px 16px;
    height: 36px;
    border-radius: 2px 0px 0px 2px;
    border: 0;
    width: 100%;
    font-size: 14px;
}
.btn_search
{
    background: white;
    border: 1px solid white;
    padding: 4px 12px 4px 8px;
    width: 44px;
    height: 36px;
    cursor: pointer;
    border-radius: 0px 2px 2px 0px;
    color: #2874f0;
    font-size: 19px;
}
.none{
    display: none;
}
.login{
    position: absolute;
    margin-left: 690px;
}
.login_btn{
    color: #2874f0;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    background: white;
    letter-spacing: 1px;
    height: 32px;
    padding: 6px 40px;
    font-weight: bold;
    margin: 0px 15px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}
.more{
    position: absolute;
    margin-left: 850px;
}
.cart{
    position: absolute;
    margin-left: 945px;
}
.more_lan, .cart_lan{
    color: white;
    font-weight: bold;
    margin: 0px 20px;
    cursor: pointer;
    font-size: 16px;
}
.pointer{
    width: 20px;
    height: 20px;
    background: white;
    position: relative;
    top: 10px;
}
.login_dropdown , .more_dropdown{
    position: relative;
    top: 12px;
}

.more_dropdown{
    right: 40px;
}

.login_dropdown_list ,.more_dropdown_list{
    position: absolute;
    list-style: none;
    background-color: white;
    width: max-content;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 20%);
    min-width: 240px;
    transform: translate(-30px);
}

.login_dropdown_list li ,.more_drop_li{
    padding: 16px 20px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    cursor: pointer;
}
.login_dropdown_list li:last-child , .more_drop_li:last-child{
    border-bottom: none;
}
.login_dropdown_list li:first-child{
    padding: 20px;
}
.login_dropdown_list li:first-child:hover{
    background: #f0f0f0;
}
.login_dropdown_list li:hover , .more_drop_li:hover{
    background: #fafafa;
}
.signup{
    font-weight: bold;
    color: #2874f0;
}


.more_icon{
    color: #2874f1;
}
.more_pointer{
    left: 80%;
}
.login:hover .login_dropdown , .more:hover  .more_dropdown{
    display: block;
}
.login_drop a{
    margin-left: 35px;
}
.login_dropdown_list li{
    color: black;
}
.login_dropdown_list i{
    color: #2874f0;
    padding-right: 10px;
}
.img1{
    margin-top: 67px;
    margin-left: 55px;
}
.img1 img{
    height: 64px;
    width: 60px;
}
.img1 a{
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.img1 a:hover{
    color: #2874f1;
    font-weight: bold;
}
.appliances{
    position: relative;
    top: 12px;
}

.appliances_list{
    position: absolute;
    list-style: none;
    background-color: white;
    width: max-content;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 20%);
    transform: translate(-30px);
    cursor: pointer;
    min-width: 240px;
}

.appliances_list li{
    border-bottom: 1px solid #f0f0f0;
    font-size: 12px;
    cursor: pointer;
    padding: 14px;
    text-align: left;
}

.appliances_list li:last-child{
    border-bottom: none;
}
.appliances_list li:hover{
    background: #fafafa;
    color: #2874f0;
    z-index: 5;
}
.img2:hover .appliances{
    display: block;
    z-index: 5;
    position: inherit;
}

.appliances_list li{
    color: black;
}
.appliances_list i{
    color: #2874f0;
    padding-right: 10px;
}

/* Styling the corousel */
#carouselExampleControls img{
    height: 310px;
}
.carousel-control-prev,
.carousel-control-next{
    width: 80px;
    height: 140px;
    top: 80px;
    background-color: rgb(241,243,246);
    border: black ;
}

.view_all{
    display: flex;
}
.view_all h4{
    margin-left: 30px;
    font-size: 22px;
    margin-top: -3px;
    font-weight: 300;
}
.view_all .button1, .button1:hover{
    color: white;
    background-color: #2874f1;
    border: white;
    font-size: 15px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    padding: 5px 10px;
    margin-top: -3px;
}




.container-fluid h3{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.container-fluid p{
    font-size: 12px;
    text-align: center;
}
.container-fluid img{
    margin-left: 27px;
}
.container-fluid img:hover{
    transition: 0.5s;
    transform: translateY(-5px);
}
.container-fluid a{
    color: black;
}
.last{
    position: relative;
    margin-left: 50px;
}
.last a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
}

/* FOOTER */

.footer{
    background-color: rgb(23,35,55);
    color: white;
}
.footer li{
    list-style: none;
    font-size: 12px;
    margin-left: 30px;
    color: white;
}
.footer a:hover{
    text-decoration: dashed;
}
.footer p{
    margin-top: 20px;
    margin-left: -26px;
    color: gray;
}

.lastn p{
    text-align: left;
    margin-left: 15px;
}
.lastn .lastns{
    color: white;
    font-size: 14px;
    margin-left: 15px;
}

.vl {
    border-left: 2px solid black ;
    height: 200px;
    margin-top: 20px;
}


.footer_img a{
    color: white;
    font-size: 15px
}
.footer_img i{
    padding-right: 5px;
    font-size: 15px;
    color: #ffe500;
}