body{
    background: black;
    margin: 0;
    padding: 0;
}
.box{
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    height: 520px;
    width: 670px;
    border-radius: 3px;
    box-sizing: border-box;
}
.box1{
    background-color: rgb(40,116,240);
}
.text h2{
    color: white;
    margin-top: 37px;
    margin-left: 30px;
    font-size: 30px;
}
.text p{
    color: wheat;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
}
img{
    margin-left: 25px;
}
.box2{
    margin-right: 30px;
}
.box2 .user{
    position: relative;
    left:7px;
    top:35px;
    padding:10px;
}
.box2 .user input{
    width:100%;
    height: 40px;
}
.box2  .user-data input {
    color:black;
    border:none;
    border-bottom:1px solid rgb(228, 228, 228);
    outline:none;
    background:none;
    transition: 0.5s;
    margin-bottom:20px;
    margin-right: 20px;
}
.box2 .user-data label{
    color:rgb(158, 154, 154);
    padding:10px;
    position: absolute;;
    top: 6px;
    left: 0;
    font-size:15px;
    font-weight:400;
    pointer-events: none;
    transition:0.5s;
    
}
.box2 .user-data input:focus ~ label,
.box2 .user-data input:valid ~ label{
    top:-17px;
    font-size:15px;
   
}
.box2 .user-data input:focus{
    border-bottom:1px solid #2874f0;
}
.box2  span a{
    position: absolute;
    top: 135px;
    left: 300px;
    display:inline;
    color:#5c8fe2;
    font-weight: 600;
}
.box2 p{
    margin-top: 30px;
    font-size: 12px;
    margin-left: 17px;
}
.btn,
.btn:hover{
    background:#fb641b;
    border-radius: 2px;
    color:white;
    font-weight:500;
    font-size:15px;
    outline:none;
    border: none;
    margin-top:10px;
    padding: 10px;
    width: 330px;
    margin-left: 15px;
}
.buttons p{
    text-align: center;
    font-size: 17px;
    margin-top: 5px;
}
.btn1,
.btn1:hover{
    background:white;
    border-radius: 2px;
    color: #5c8fe2;
    font-weight:500;
    font-size:15px;
    outline:none;
    border: none;
    margin-top:10px;
    padding: 10px;
    width: 330px;
    margin-left: 15px;
    box-shadow:2px 1px 5px 0 rgba(0,0,0,0.2);
}
.buttons p a{
    text-decoration: none;
    color: #5c8fe2;
    font-size: 15px;
}