.list{
    font-size: 20px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
} 
.a1{
    color: white;
}
a,a:hover{
    color: white;
}
.blue{
    background-color: blue;
    height: 200px;
    border-radius: 30px;
    text-align: center;
    margin-left: 10px;
    padding-top: 50px;
}
.orange{
    background-color: orange;
    height: 200px;
    border-radius: 30px;
    text-align: center;
    margin-left: 10px;
    padding: 50px;
}
.pink{
    background-color: hotpink;
    height: 200px;
    border-radius: 30px;
    text-align: center;
    margin-left: 10px;
    padding: 50px;
}
.table{
    padding: 10px;
}
h3{
    font-size: 50px;
}
h4{
    font-size: 40px;
}