@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&family=Poppins:wght@400;500;600&family=Roboto+Slab&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
}
span{
    color: blueviolet;
}
p{
    font-weight: 300;
    color: #111;
}
       /* banner starts here */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(5, 4, 5, 0.52), rgb(1,5,8)),url(../images/24610_high-tech-wallpapers_4058x2800_h.jpg);
    background-size: cover;
}
.banner .content{
    text-align: start;

}
.banner .content h2{
    font-size: 50px;
    color: white;
}
.banner .content p{
    font-size: 1em;
    color: white;
}
.btn{
    font-size: 1em;
    color: #fff;
    background: blueviolet;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 30px;
}
.btn:hover{
    letter-spacing: 6px;
}
     /* header starts here */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo{
    color:white;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
    color: #111;    
}
header .logo span{
    color: blueviolet;

}
header .navigation{
    position: relative;
    display: flex;

}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: white;
    font-weight: 300;

}
header.sticky .navigation li a{
    color: #111;

}
header .navigation li a:hover{
    color: blueviolet;
}
section{
    padding: 100px;
}
              /* about us starts here */
.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span{
    color: blueviolet;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height: 450px;
  
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

                  /* teams starts here */

.team{
    position: relative;
    text-align: center;
}
#team::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#team img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.2);
}
.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 00.5s;
}
.container .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}
.container .card .content .contentBx h3{
    color: #111;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px ;
    line-height: 1.1em;
}
.container .card .content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.container .card .sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}


.container .card .sci li{ 
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
}
.container .card:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .sci li a{
    color: black;
    font-size: 24px;
}







                  /* service startrs here */



.service1 .buttons1{
    margin-top: 130px;
    width: 300px;
    height: 300px;
    box-shadow: 0 5px 35px black;
}
.service1 .buttons1:hover{
    color: black;
    box-shadow: 0 5px 35px blueviolet;
}
.service1 i{
    font-size: 40px;
    padding-bottom: 10px;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact .content{
    text-align: center;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: blueviolet;
}

               /* contact form starts here */

.contactForm{
    width: 40%
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    color: #111;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: blueviolet;
    transform: translateY(-20px);

}
#contact .btn{
    border: none;
    background-color: #111;
    color: #fff;
}
#contact .btn:hover{
    background-color: #fff;
    color: #111;
    border: 1px solid black;
}


footer{
    position: relative;
    width: 100%;
    background: black;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li{
    list-style: none;

}
footer .social_icon li a{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 00.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;    
}





            /* media queriesss */




@media (max-width:768px){
    body{
        margin: 0;
        padding: 0;
    }
    .banner{
        background: url(../images/24610_high-tech-wallpapers_4058x2800_h.jpg) no-repeat;
        background-size: cover;
    }
    section{
        padding: 10px;
    }
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
    }
    header .navigation li{
        margin-left: 0;

    }
    header .navigation li a{
        text-decoration: none;
        color: black;
        font-size: 1.6em;
        font-weight: 300;
    }

    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url(../images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
    .banner .content{
        text-align: center;
        font-size: 12px;
    }
    .banner .content p{
        padding-top: 20px;
    }
    #about p{
        text-align: center;
        font-size: 12px;
    }   
    #about img{
        display: none;
    }
    #about h2{
        text-align: center;
    }
    #service p{
        text-align: center;
    }
    .container{
        flex-direction: column;

    }
    #team .card{
        margin-left: auto;
        margin-right: auto;
    }
    .container .contactInfo{
        display: none;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #contact p{
        font-size: 12px;
    }
}