.navbar1{
    background: linear-gradient(to bottom, rgb(5, 4, 5, 0.52), rgb(1,5,8)),url("../image/1.jpg") no-repeat;
}
.h11{
    color: white;
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
}
.h22{
    color: white;
    text-align: center;
}
.signin{
    margin-top: 30px;
    margin-left: 80%;
}
.next{
    background-color: black;
}
hr{
    background-color: gray;
    height: 10px;
}
.h12{
    color: white;
    text-align: center;
    text-align: left;
    padding-top: 100px;
}
.imgss{
    height: auto;
    width: 450px;
}
.ques{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}
/* .btnlast{
    width: 600px;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
} */
.accordian{
   max-width: 880px;
}
.accordian .contentBx{
    position: relative;
    margin: 10px 20px;
}
.accordian .contentBx .label{
    position: relative;
    padding: 10px;
    background: rgb(48,48,48);
    color: white;
    cursor: pointer;
}
.accordian .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    /* font-size: 1.5em; */
}
.accordian .contentBx.active .label::before{
    content: 'x';
}
.accordian .contentBx .content{
    position: relative;
    background: rgb(48,48,48);
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    color: white;
    font-size: 20px;
}
.accordian .contentBx.active .content{
    height: 250px;
    padding: 10px;
    
}
.ques1{
    margin-left: auto;
    margin-right: auto;
}
.a2{
    color: white;
}
a,.a2:hover{
    color: white;
}
@media only screen and (max-width: 768px) {
    .h11{
        margin-top: 40px;
        font-size: 30px;
    }
    .images{
        width: 100px;
        margin-left: 0px;
    }
    .h22{
        font-size: 20px;
    }
    .h12 h2{
        text-align: center;
    }
    .h12 h1{
        text-align: center;
    }
}