body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("../image/1.jpg") no-repeat,linear-gradient(rgb(5, 4, 5, 0.52), rgb(1,5,8));
    background-size: cover;
    opacity: 1;
}
.box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}
.box h2{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: start;
}
.box .inputBox{
    position: relative;
}
.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    outline: none;
}
.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: gray;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -10px;
    left: 5px;
    color: gray;
    font-size: 12px;
}
.box input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: red;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 320px;
    margin-top: 20px;
}
label{
    margin-left: 10px;
}
.a2{
    color: gray;
}
a,.a2:hover{
    color: gray;
}
.a3{
    color: white;
}
a,.a3:hover{
    color: white;
}
@media only screen and (max-width: 768px){
    body{
        background: black;
    }
}