:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

.container{
    text-align: center;
    margin: 200px auto;
}
.container p{
    font-size: 15px;
    padding-bottom: 20px;
}
.card{
    background: var(--White);
    width: 300px;
    border-radius: 5px;
    margin: 200px auto;
}
body{
    background: var(--Grayish-blue);
}
img
{
    max-width: 100%;
    width: 250px;
    border-radius: 3px;
    padding-top: 20px;
}   
.attribution{
    position: relative;
    margin-bottom: -100px;
}