body{
    background: url("../images/int.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center;
    align-items: center;
}
.container-fluid{
    align-items: center;
    text-align: center;
    width: 800px;
    height: 220px;
    background-color: black;
    border-radius: 35px;
    position: absolute;
    left: 25%;
    top: 25%;
    color: white;
    opacity: 90%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-style: italic;
    margin-top: 20px;
}
.alignright1{
    position: absolute;
    margin-top: 3px;
    margin-left: 45%;
    color: white;
    text-decoration: none;
}
.alignright2{
    position: absolute;
    margin-left: 50%;
    margin-top: 3px;
    color: white;
    text-decoration: none;
}
.ul{
    list-style: none;
}
@media only screen and (max-width: 768px) {

    .content{
        width: 350px;
        height: 200px;
        background-color: red;
        color: white;
        align-items: center;
        left: 15%;
    }
    h1 {
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
    }
  }