body{
    background: url(./images/pattern-background-desktop.svg);
    background-color:  hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    position: absolute;
    background-color: white;
    width: 450px;
    height: 650px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 5px rgb(199, 197, 197);
}
.images , img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.container h1{
    text-align: center;
}
.container p{
    text-align: center;
    font-size: 18px;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}
.price{
    display: flex;
    background-color: #f5f7ff;
    width: 350px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 8px;
    height: 100px;
}
.price  img{
    padding-left: 20px;
}
.price p{
    margin-left: 15px;
}
.price a{
    color: hsl(223, 100%, 50%);
    margin-left: 55px;
}
button{
    width: 350px;
    height: 45px;
    border: none;
    cursor: pointer;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 30px;
    box-shadow: 0 10px 10px hsl(225, 100%, 94%);
}
.cancel p{
    text-align: center;
    margin-top: 30px;
}
.cancel p:hover{
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: hsl(223, 47%, 23%);
}
.price a:hover{
    color: hsl(223, 47%, 23%);
    text-decoration: none;
}



@media (max-width:768px){
    body{
        background: url(./images/pattern-background-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

