video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
div{
    align-items: center;
    text-align: center;
    width: 700px;
    height: 270px;
    background-color: rgb(58, 58, 58);
    border-radius: 35px;
    position: absolute;
    left: 25%;
    top: 25%;
    color: white;
    opacity: 80%;
    z-index: 1;
    font-size: 25px;
}
a{
    text-decoration: none;
    border: 3px red solid;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: white;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}