body{
    background-color: aliceblue;
}
li{
    list-style: none;
}
.container{
    background-color: white;
    padding: 15px;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 7px;
}


li{
    margin-bottom: 20px;
    margin-left: -25px;
}
i{
    padding-right: 5px;
    color: green;
    font-size: 15px;
}
.price{
    margin-left: 15px;
}
.price span{
    font-size: 30px;
    color: darkslateblue;
    font-weight: bold;
}
.price button{
    border: none;
    padding: 10px;
    width: 200px;
    background: #ffc300;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 0 9px 14px rgba(65, 63, 63, 2);
}
.price button:hover{
    letter-spacing: 2px;
    background: greenyellow;
}