:root{
    --Verydarkblue: hsl(217, 54%, 11%);
    --Verydarkblue1: hsl(216, 50%, 16%);
    --White: hsl(0, 0%, 100%);
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Verydarkblue2: hsl(215, 32%, 27%);
}

body{
    background-color: var(--Verydarkblue);
}

.poster img{
    width: 270px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}
.card{
    background-color: var(--Verydarkblue1);
    position: absolute;
    width: 270px;
    height: 500px;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}
.card h2{
    color: var(--White);
    cursor: pointer;
}
.card h2:hover , h2:active{
    color: var(--Cyan);
}
p{
    font-size: 18px;
    color: var(--Softblue);
}
.card2 img{
    width: 8px;
}
.span1{
    color: var(--Cyan);
}
.span2{
    
    color: var(--Softblue);
}
hr{
    height: 1px;
    background-color: var(--Verydarkblue2);
    border: none;
}
.avatar{
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 17px;
    padding-right: 10px;
}
.names{
    display: flex;
}
.span3{
    color: var(--White);
    cursor: pointer;
}
.span3:hover{
    color: var(--Cyan);
}