.nav{
    margin-left: 120px;
}
.right{
    margin-right: 120px;
}
.nav1{
    padding-top: 20px;
    padding: 20px;
}
/* .text{
    text-align: center;
    background-color: black;
    color: white;
    height: 70px;
    width: 100%;
    font-size: 20px;
    padding-top: 15px;
} */
.btn{
    border-radius: 30px;
    width: 150px;
}
li{
    padding: 10px;
}
.list2{
    margin-left: 50px;
}
.a1{
    color: black;
}
a,a:hover{
    color: black;
}
.images{
    padding: 10px;
}
.images h2{
    margin-left: 50px;
    padding-top: 10px;
    font-size: 20px;
}
.img{
    width: 400px;
    height: 150px;
}
.last{
    background-color: black;
    color: white;
}
h3{
    padding-top: 20px;
}
footer img{
    padding-top: 50px;
}
.a2{
    color: white;
}
a,.a2:hover{
    color: white;
}
.ulist{
    padding-top: 35px;
    font-size: 10px;
}



.lasts{
    display: flex;
}
.copyright{
    text-align: end;
    flex: 0 0 63%;
}
.socialicons{
    text-align: right;
    margin-right: 40px;
    letter-spacing: 5px;
}