@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
.body{
    background: rgb(255, 255, 255);
    /* color: white; */
}
.label h3{
    text-align: center;
    font-style: italic;
}
.header{
    position: absolute;
    text-align: center;
    /* background-color: rgb(87, 95, 255); */
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10000;
}
.header h2{
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-weight: bolder;
}
.containers{
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin-top: 100px;
    margin-left: 440px;
    width: 653PX;
    height: 458px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.details p{
    color: white;
    font-size: 14px;
}
.details{
    display: flex;
    /* background-color: rgb(0, 96, 19); */
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 75px;
}
.name{
    flex-basis: 18%;
}
.names{
    flex-basis: 30%;
}
.name1{
    flex-basis: 10%;
}
.dot{
    flex-basis: 2%;
}
.tables{
    font-size: 14px;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0px;
}
th , td {
    border: 1px solid black;
}

footer{
    position: absolute;
    /* background-color: rgb(87, 95, 255); */
    bottom: 0;
    width: 100%;
    height: 55px;
    text-align: center;
    position: fixed;
}
footer p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}