@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
*{
    margin: 0;
}
.header{
    position: absolute;
    text-align: center;
    /* background-color: rgb(87, 95, 255); */
    width: 100%;
    height: 80px;
}
.header h2{
    margin-top: 25px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-weight: bolder;
}
.forms{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 400px;
    height: 400px;
    box-shadow: 0 0px 35px rgb(133, 129, 129);
}

.inputbox{
position: relative;
align-items: center;
text-align: center;
margin: 10px;
margin-top: 40px;
display: flex;
margin-left: 75px;
}
.user{
    font-size: 30px;
    margin-right: 10px;
    color: rgb(85, 78, 78);
}
.inputbox input{
    width: 200px;
    padding: 15px ;
    font-size: 16px;
    color: black;
    outline: 1px solid #5aa5f5;
    border-radius: 10px;
    border: 1px solid #5aa5f5;
}
.forms p{
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
.forms .get{
    position: relative;
    margin-left: 100px;
    margin-top: 30px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    color: white;
}
footer{
    position: absolute;
    /* background-color: rgb(87, 95, 255); */
    bottom: 0;
    width: 100%;
    height: 65px;
    text-align: center;
}
footer p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}




@media (max-width:768px){
    .header h2{
        margin-top: 15px;
        font-size: 25px;
    }
    .forms{
        width: 300px;
        height: 400px;
    }
    .inputbox{
        margin-left: 30px;
    }
    .forms .get{
        margin-left: 50px;
    }
}