body{
    background: url("../image/cakes.jpg") no-repeat fixed;
    background-size: cover;
}
div{
    text-align: center;
    width: 50%;
    background-color: rgb(58, 58, 58);
    border-radius: 35px;
    margin: 180px auto;
    color: white;
    opacity: 80%;
}
h1{
    font-size: 60px;
}
p{
    font-size: 25px;
}
button{
    background-color: darkgreen;
    color: white;
    padding: 10px;
    border-radius: 20px;    
    border: none;
    margin-bottom: 20px;
}
i{
    margin-top: 20px;
    font-size: 60px;
}
