.alignright1{
    position: absolute;
    margin-top: 3px;
    margin-left: 80%;
    color: white;
    text-decoration: none;
}
.alignright2{
    position: absolute;
    margin-left: 85%;
    margin-top: 3px;
    color: white;
    text-decoration: none;
}
.pitchai{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-top: 30px;
}
.images{
    text-align: center;
}
h3{
    font-family: 'Lobster', cursive;
}
p{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}
.fuck{
    background-color: rgb(49, 71, 71);
    height: 60px;
}
.p{
    margin-left: 30px;
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.a1{
    color: white;
    padding-right: 10px;
    font-size: 25px;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 5;
}
.parallax-window{
    height: 350px;
    padding-top: 150px ;
}
.h11{
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
}
.Ronaldo2{
    height: 400px;
    width: 400px;
    border-radius: 200%;
    padding-top: 30px;
}
@media(max-width:600px){
    .Ronaldo2{
        margin-left: 35px;
    }
}
footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li{
    list-style: none;

}
footer .social_icon li a{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 00.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;    
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;

}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;

}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;

}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;

}
@keyframes animateWave {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
    
}
@keyframes animateWave_02 {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
    
}


hr{
    height: 3px;
    background-color: rgb(200, 200, 243);
    border: 0;
}
